.search-input {
background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 20px;
  

 background-image: url("data:image/svg+xml;utf8,<svg width='41px' height='40px' viewBox='0 0 41 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Slice 1</title><g id='Page 1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='search' fill='#FFFFFF'><path d='M0.504,16.338 C0.504,25.085 7.635,32.165 16.444,32.165 C25.24,32.165 32.382,25.085 32.382,16.338 C32.382,7.591 25.24,0.5 16.444,0.5 C7.635,0.5 0.504,7.591 0.504,16.338 L0.504,16.338 Z M5.555,16.338 C5.555,10.359 10.423,5.521 16.445,5.521 C22.455,5.521 27.333,10.36 27.333,16.338 C27.333,22.317 22.455,27.156 16.445,27.156 C10.423,27.156 5.555,22.316 5.555,16.338 L5.555,16.338 Z M27.666,30.861 L34.521,38.67 C35.625,39.772 36.338,39.781 37.46,38.67 L39.661,36.489 C40.743,35.408 40.811,34.711 39.661,33.568 L31.765,26.793 L27.666,30.861 L27.666,30.861 Z M27.666,30.861' id='Shape'></path></g></g></svg>");
  background-position: 8px center;
  background-repeat: no-repeat;
  -webkit-background-size: 17px;
  background-size: 17px;
  font-weight: 400;
 
  color:white;
  width: 100%;
}
 input::placeholder {
  color: white;
  font-size: 1.2em;
  font-style: italic;
}

i{
  margin-top: 20px;
}
.comparte{
  margin-top: -20px;
  color:red;
}
button.fab--material, ons-fab.fab--material, ons-speed-dial-item.fab--material{
    box-shadow: 0 4px 5px 0 rgba(215,40,40,.14), 0 1px 10px 0 rgba(215,40,40,.12), 0 2px 4px -1px rgba(215,40,40,.4);
}

ons-col{
  text-align: center;
  margin: 20px;
  margin-bottom: 5px;
}
iframe{
  width: 100%;
}
p{
  font-family: 'Coiny', cursive;
  color: #FF2F00;
}

#titulo{
font-family: 'Coiny', cursive;
  color: #FF2F00;
  width: 100%;
}
#barra{
border-radius: 12px;
 box-shadow: 2px 2px 4px orange;
}


.barrabajo{
  margin:10px;
  color:#FF2F00;
}

.back-button--material__icon{

  fill: #FF2F00;
}

.toolbar--material__center{
  font-family: 'Coiny', cursive;
  color: #FF2F00;
}
.margenes{
  margin:10px;
}
 .justificar{
  text-align: justify;
 }
.list-item--material__thumbnail{
  width: 50px;
  height: 50px;
}

.titulosmargenes{
  margin: 0px;
}
.radius{

  border-radius: 4px;
}
a{
  text-decoration: none;
  color:red;
}
