#botongoogle{
	padding: 20px;
	margin-left: 23px;
}
#botonfacebook{
	    margin-left: 45px;
}
#twitter-button{
padding: 10px;
	background: #40a2d1;
	
	
	background: #45b0e3;
	
	margin: 0 0 30px 41px;
	
	color: #fff;
	
	font-family: 'Oswald', sans-serif;
	


}



